title{
    font-size: 60px;
    padding: 100px 200px 200px 200px;
    color: rgb(12, 12, 24);
    text-align: center;
}
div{
    font-size: 30px;
    font-weight: bold;
    margin: 50px 150px 50px 150px;
    padding: 100px 200px 200px 200px;
    color: rgb(12, 12, 17);
    text-align: center;
}
body{
    background-image: url("hospital.gif.webp");
    background-size: 1500px 800px;
}